BasedOnStyle: LLVM
ColumnLimit: 0
SpaceBeforeParens: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine : true
AlignConsecutiveAssignments : true
#IndentWidth: 2